/*------------------------------Estilos Generales------------------------------*/

/*----------Colores----------*/
:root{
    --fondo: #F4FFE3;
    --fondoOscuro: #101F0D;
    --verdeOscuro: #203d1a;
    --verde: #407b33;
    --verdeClaro: #779a6a;
    --verdeBlanco: #caddbb;

    --verdeNeonOscuro: #00BF63;

    --azulNeon: #07F5CB;
    --azul: dodgerblue;

    --rojo: #ff7676;
    --rojoOscuro: #c20000;

    --naranja: #ea9247;
    --naranjaOscuro: #d2691e;

    --degradado: linear-gradient(to right, #00bf63, #7ed957 );

    --blanco: white;
    --gris: rgb(167, 167, 167);
    --negro: black;

}

/*----------Contenidos----------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
}

.center{ text-align: center; }

img{ width: 100%; height: 100%; }

hr { border-color: var(--fondoOscuro); }

a { text-decoration: none; }


/*----------Contenedores generales----------*/
.container{
    width: 100%; height: 100%;
    display: grid;
    grid-template-rows: 10% 5% 75% 10%;
    grid-template-columns: 10% 80% 10%;
}



/*----------Ventanas Modales----------*/

/*VENTANA MODAl para actualizar ESTADO del usuario*/
.profileStatusModalWindow{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%; height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

.profileStatusModalContent{
    background-color: beige;
    width: 70%; height: 35%;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#statusProfile{
    background-color: var(--rojo);
    border-color: var(--rojoOscuro);
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#closeModalWindowSatusProfile{
    background-color: var(--verdeNeonOscuro);
    border-color: var(--verde);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


/*VENTANA MODAl para ACTUALIZAR usuario*/
.modalWindowUpdateProfile{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%; height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;

    grid-area: 1 / 1 / 4 / 4;
}
.modalContentUpdateProfile{
    background-color: beige;
    width: 70%; height: 80%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalContentUpdateProfile h3{ text-align: center; }
.modalContentUpdateProfile form{
    width: 100%; height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, select{
    background-color: var(--verdeBlanco);
    border-color: var(--verde);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}
input:focus, select:focus{ border-color: var(--verdeNeonOscuro);}

.updateProfileButton{
    background-color: var(--verdeNeonOscuro);
    font-weight: bold;
    border-color: var(--verde);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;    
}
#closeUpdateProfileModal{
    background-color: var(--rojo);
    border-color: var(--rojoOscuro);
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}




/*VENTANA MODAl para MENÚ en barra lateral*/
.lateralNabvarModalWindow{
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%; height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    color: black;
    display: none;
    justify-content: start;
    align-items: stretch;

    grid-area: 1 / 1 / 4 / 4;
}

.lateralNavbarModalContent{
    background-color: var(--negro);
    color: var(--blanco);
    width: 60%;
    border-radius: 5px;
    padding: 20px;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 25% 70%;
}
.lateralNabvarButtons{
    grid-area: 2 / 1 / 3 / 4;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#closeLateralNavbar{
    font-size: xx-large;
    cursor: pointer;
    grid-area: 1 / 1 / 2 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.lateralNabvarButtons div a{
    color: var(--verdeNeonOscuro);
    font-weight: bolder;
    width: 100%;
}
.lateralNabvarButtons div a:hover, .lateralNabvarButtons form button:hover{
    color: var(--azulNeon);
}

.lateralNabvarButtons form button{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    border: none;
    color: var(--verdeNeonOscuro);
    font-weight: bolder;
    cursor: pointer;
}


/*----------Encabezado para el CLIENTE----------*/
.container header{
    background-color: var(--negro);
    color: var(--blanco);
    grid-area: 1 / 1 / 2 / 4;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.clientNav{ grid-area: 1 / 1 / 2 / 2; display: none; }
.NavMovile{
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 5% 13% 14% 50% 13% 5%;
}

#burgerMenu{
    font-size: xx-large;
    cursor: pointer;
    grid-area: 2 / 2 / 3 / 3 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoText{
    text-align: right;
    margin-right: 10px;
    grid-area: 2 / 4 / 3 / 5;
}
.headerLogo{ grid-area: 2 / 5 / 3 / 6; }

.greenNavbarGreen{
    background-color: var(--verde);
    grid-area: 2 / 1 / 3 / 4;
}


.errorNav{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*----------Cuerpo para el CLIENTE----------*/
.container main{
    padding-top: 40px;

    grid-area: 3 / 2 / 4 / 3;
}

.profileSection{
    background-color: var(--verdeClaro);
    color: var(--fondoOscuro);
    border-radius: 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.profileSection p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.profileSection button{
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#openUpdateProfileModal{
    background-color: var(--naranja);
    border-color: var(--naranjaOscuro);
    margin-bottom: 15px;
    margin-top: 15px;
}

#openProfileStatusModal{
    background-color: var(--rojo);
    border-color: var(--rojoOscuro);
}



/*----------Pie de página para el CLIENTE----------*/
.container footer{
    grid-area: 4 / 1 / 5 / 4;
}

footer{
    background-color: var(--negro);
    color: var(--blanco);

    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 5% 13% 14% 50% 13% 5%;
}

.footerLogo{ grid-area: 2 / 5 / 3 / 6; }
.footerLogoText{ 
    text-align: right;
    margin-right: 10px;
    grid-area: 2 / 4 / 3 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerButton{ 
    background-color: var(--verdeNeonOscuro);
    text-align: center;
    border-radius: 5px;
    grid-area: 2 / 2 / 3 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerButton a{
    color: black;
}



.notLogedSession{
    grid-area: 2 / 2 / 4 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notLogedSessionButton{
    background-color: var(--rojo);
    border: 2px solid var(--rojoOscuro);
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}
.notLogedSessionButton a{color: var(--negro); }
.notLogedSessionButton:hover{ background-color: var(--rojoOscuro); }
.notLogedSessionButton a:hover{color: var(--blanco); }


/*------------------------------------------------------------Resolución para PC------------------------------------------------------------*/
@media screen and (min-width: 900px){
    /*----------Contenedores generales----------*/
    
    .container{
        grid-template-rows: 12% 7% 69% 12%;
        grid-template-columns: 10% 80% 10%;
    }

    .clientNav{ 
        display: grid; 
        grid-template-rows: 20% 60% 20%;
        grid-template-columns: 5% 35% 35% 15% 5% 5%;
    }
    .NavMovile{ display: none; }

    .navbarButtons{
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navButton{
        color: var(--blanco);
        font-size: larger;
    }
    .principalNavButton{
        background-color: var(--verde);
        color: var(--blanco);
        padding: 10px;
        padding-left: 20px; padding-right: 20px;
        border-radius: 5px;
    }
    .navbarButtons form button{
        background-color: var(--negro);
        color: var(--blanco);
        font-family: 'Roboto', sans-serif;
        border: none;
        font-weight: bolder;
        cursor: pointer;
    }
    .specialNavButton{  color: var(--verdeNeonOscuro); }
    .specialNavButton:hover{ color: var(--azulNeon);}
    .principalNavButton:hover{ color: var(--negro); background-color: var(--azulNeon); }


    /*----------Cuerpo para el CLIENTE----------*/
    .container main{
        padding-top: 0;
        grid-area: 3 / 2 / 4 / 3;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profileSection{
        padding: 30px;
        width: 60%;
    }
    .profileSection div{ 
        display: flex; 
        flex-direction: row;
    }

    .profileSection p, h2{ margin-right: 10px; }

    .profileSection button{
        width: 50%;
        margin-left: 22.5%;
    }
    

    footer{ grid-template-columns: 5% 7% 68% 10% 5% 5%;}
    .footerButton{ grid-area: 2 / 2 / 3 / 3; }



    .profileStatusModalContent{ width: 20%; height: 40%; }
    .modalContentUpdateProfile{
        width: 25%; height: 600px;
    }
}